input {
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
}
button {
    min-width: 100px;
    color: #fff;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 .container{
   width: 100%;
   max-width: 1600px!important;
    margin-left:  auto;
    margin-right:  auto;
    padding-left: 30px!important;
    padding-right: 30px!important;

 }
